<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.co.icg.reload">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="id.co.icg.reload.App">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.accountkit.ApplicationName" android:value="@string/app_name" />
        <meta-data android:name="com.facebook.accountkit.ClientToken" android:value="@string/account_kit_client_token" />
        <provider android:authorities="com.facebook.app.FacebookContentProvider349916285360399"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true">
        </provider>
        <activity android:name="com.facebook.accountkit.ui.AccountKitEmailRedirectActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/ak_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.AddBalanceActivity" android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity android:name=".activity.MobileRechargeInquiryActivity" android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity android:name=".activity.MobileRechargeConfirmationActivity" />
        <activity android:name=".activity.MobileDataRechargeActivity" android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity android:name=".activity.ElectricInquiryActivity" android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity android:name=".activity.ElectricRechargeConfirmationActivity" />
        <activity android:name=".activity.RechargeNotificationActivity" />
        <activity android:name=".activity.InsuranceInquiryActivity" android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity android:name=".activity.WaterBillInquiryActivity" android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity android:name=".activity.PhoneBillInquiryActivity" android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity android:name=".activity.OtherBillInquiryActivity" android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity android:name=".activity.OtherMenuActivity" />
        <activity android:name=".activity.PendingBalanceActivity" />
        <activity android:name=".activity.TransferBalanceActivity" />
        <activity android:name=".activity.TransferBalanceAddAmountActivity" android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity android:name=".activity.TransferBalanceNotificationActivity" />
        <activity android:name=".activity.AccountInformationActivity" />
        <activity android:name=".activity.ChangePasswordActivity" android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity android:name=".activity.PrinterActivity" />
        <activity android:name=".activity.ChatActivity" />
        <activity android:name=".activity.RedeemPointsActivity" />
        <activity android:name=".activity.RedeemLogActivity" />
        <activity android:name=".activity.SettlementLogActivity" />
        <activity android:name=".activity.DepositLogActivity" />
        <activity android:name=".activity.OtherRechargeInquiryActivity" />
        <activity android:name=".activity.ConvertToBalanceActivity" android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity android:name=".activity.DeviceActivity" android:theme="@android:style/Theme.Dialog"/>

        <service
            android:name=".MyFcmListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>